#div1 {
    top: 100px;
    width: 100%;
    margin: 0 25% 0 25%;
    border: 5px dotted blue;
}
#div1 h1 {
    font-size: 1.5em;
}
#div1 .title {
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 2em;
}
ul {
    color: blue;
    margin: auto;
    text-align: center;
}
